## Assignment 3_ Part 2_Question 1
- Use 'employee_compensation' data set.
- Find out the highest paid departments in each Organization Group by calculating mean of Total Compensation for every department.
- Output should contain the Organization Group and the Departments in each organization group with the total compensation **from highest to lowest** value.
- Display a few rows of the output **Use df.head()**
- Generate a csv output

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Data/employee_compensation.csv")

In [3]:
df.head()

,Year Type,Year,Organization Group Code,Organization Group,Department Code,Department,Union Code,Union,Job Family Code,Job Family,...,Employee Identifier,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health/Dental,Other Benefits,Total Benefits,Total Compensation
0,Calendar,2013,2,"Public Works, Transportation & Commerce",AIR,Airport Commission,38.0,"Plumbers and Pipefitters, Local 38",7300,Journeyman Trade,...,52206,98528.52,0.00,3955.59,102484.11,20142.55,12918.24,8371.76,41432.55,143916.66
1,Fiscal,2015,4,Community Health,DPH,Public Health,790.0,"SEIU - Miscellaneous, Local 1021",2600,Dietary & Food,...,52950,69169.82,755.02,4179.08,74103.92,15641.92,12499.30,5669.02,33810.24,107914.16
2,Calendar,2016,3,Human Welfare & Neighborhood Development,WOM,Department of the Status of Women,323.0,Members of Boards and Commissions,0900,Management,...,33958,200.00,0.00,0.00,200.00,0.00,51.45,15.83,67.28,267.28
3,Calendar,2016,6,General Administration & Finance,HRD,Human Resources,790.0,"SEIU - Miscellaneous, Local 1021",8100,Legal & Court,...,33073,1783.00,0.00,0.00,1783.00,325.05,257.23,153.85,736.13,2519.13
4,Fiscal,2015,5,Culture & Recreation,REC,Recreation and Park Commission,790.0,"SEIU - Miscellaneous, Local 1021",9900,Public Service Aide,...,15849,1102.50,0.00,0.00,1102.50,0.00,538.82,85.36,624.18,1726.68

In [4]:
temp_df = round(df.groupby(['Organization Group','Department'], as_index=False)['Total Compensation'].mean(),2)

In [5]:
temp_df.head()

     Organization Group           Department  Total Compensation
0      Community Health        Public Health            96190.19
1  Culture & Recreation  Academy of Sciences           107319.73
2  Culture & Recreation      Arts Commission            94339.60
3  Culture & Recreation     Asian Art Museum            71401.52
4  Culture & Recreation     Fine Arts Museum            44205.44

In [6]:
sorted_df = temp_df.groupby(['Organization Group'])[['Department','Total Compensation']].apply(lambda x:x.sort_values('Total Compensation', ascending=False))
sorted_df.head()

                                 Department  Total Compensation
Organization Group
Community Health     0        Public Health            96190.19
Culture & Recreation 5          Law Library           188424.36
                     1  Academy of Sciences           107319.73
                     2      Arts Commission            94339.60
                     8         War Memorial            76250.07

In [7]:
sorted_df = sorted_df.reset_index(level=1, drop=True)
sorted_df.head()

                               Department  Total Compensation
Organization Group
Community Health            Public Health            96190.19
Culture & Recreation          Law Library           188424.36
Culture & Recreation  Academy of Sciences           107319.73
Culture & Recreation      Arts Commission            94339.60
Culture & Recreation         War Memorial            76250.07

In [8]:
final_output_df = sorted_df.reset_index()

In [9]:
final_output_df.head()

     Organization Group           Department  Total Compensation
0      Community Health        Public Health            96190.19
1  Culture & Recreation          Law Library           188424.36
2  Culture & Recreation  Academy of Sciences           107319.73
3  Culture & Recreation      Arts Commission            94339.60
4  Culture & Recreation         War Memorial            76250.07

In [10]:
final_output_df.to_csv('outputs/sorted_department_by_compensation.csv', index=False)