In [5]:
import pandas as pd
import numpy as np
from pandas import DataFrame
from datetime import datetime,date,timedelta

# Data Aggregation and Group Operations

In [6]:
df = DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
'key2' : ['one', 'two', 'one', 'two', 'one'],
'data1' : np.random.randn(5),
'data2' : np.random.randn(5)})
df

      data1     data2 key1 key2
0 -0.696114  0.048884    a  one
1  0.009188  1.901091    a  two
2 -0.948833  0.415823    b  one
3 -0.517331 -1.424932    b  two
4 -0.017363  0.463498    a  one

In [7]:
grouped = df['data1'].groupby(df['key1'])
grouped.mean()

key1
a   -0.234763
b   -0.733082
Name: data1, dtype: float64

In [8]:
means = df['data1'].groupby([df['key1'], df['key2']]).mean()
means

key1  key2
a     one    -0.356738
      two     0.009188
b     one    -0.948833
      two    -0.517331
Name: data1, dtype: float64

In [9]:
states = np.array(['Ohio', 'California', 'California', 'Ohio', 'Ohio'])
years = np.array([2005, 2005, 2006, 2005, 2006])
df['data1'].groupby([states, years]).mean()

California  2005    0.009188
            2006   -0.948833
Ohio        2005   -0.606722
            2006   -0.017363
Name: data1, dtype: float64

In [10]:
df.groupby('key1').mean()

         data1     data2
key1
a    -0.234763  0.804491
b    -0.733082 -0.504555

In [11]:
df.groupby(['key1', 'key2']).mean()

              data1     data2
key1 key2
a    one  -0.356738  0.256191
     two   0.009188  1.901091
b    one  -0.948833  0.415823
     two  -0.517331 -1.424932

In [12]:
df.groupby(['key1', 'key2']).size()

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64

## Iterating over Group

In [15]:
for name, group in df.groupby('key1'): 
    print('#'*20)
    print(name)
    print('#'*20)
    print(group)

####################
a
####################
      data1     data2 key1 key2
0 -0.696114  0.048884    a  one
1  0.009188  1.901091    a  two
4 -0.017363  0.463498    a  one
####################
b
####################
      data1     data2 key1 key2
2 -0.948833  0.415823    b  one
3 -0.517331 -1.424932    b  two

In [18]:
for (k1, k2), group in df.groupby(['key1', 'key2']): 
    print('#'*20)
    print(k1,'-->',k2)
    print('#'*20)
    print(group)

####################
a --> one
####################
      data1     data2 key1 key2
0 -0.696114  0.048884    a  one
4 -0.017363  0.463498    a  one
####################
a --> two
####################
      data1     data2 key1 key2
1  0.009188  1.901091    a  two
####################
b --> one
####################
      data1     data2 key1 key2
2 -0.948833  0.415823    b  one
####################
b --> two
####################
      data1     data2 key1 key2
3 -0.517331 -1.424932    b  two

In [19]:
pieces = dict(list(df.groupby('key1')))
pieces['b']

      data1     data2 key1 key2
2 -0.948833  0.415823    b  one
3 -0.517331 -1.424932    b  two

In [20]:
grouped = df.groupby(df.dtypes, axis=1)
dict(list(grouped))

{dtype('float64'):       data1     data2
 0 -0.696114  0.048884
 1  0.009188  1.901091
 2 -0.948833  0.415823
 3 -0.517331 -1.424932
 4 -0.017363  0.463498, dtype('O'):   key1 key2
 0    a  one
 1    a  two
 2    b  one
 3    b  two
 4    a  one}

## Selecting a Column or Subset of Columns

In [ ]:
df.groupby('key1')['data1']   # df['data1'].groupby(df['key1'])
df.groupby('key1')[['data2']] # df[['data2']].groupby(df['key1'])

In [21]:
df.groupby(['key1', 'key2'])[['data2']].mean()

              data2
key1 key2
a    one   0.256191
     two   1.901091
b    one   0.415823
     two  -1.424932

In [22]:
people = DataFrame(np.random.randn(5, 5), 
                   columns=['a', 'b', 'c', 'd', 'e'],
                    index=['Joe', 'Steve', 'Wes', 'Jim', 'Travis'])
people.ix[2:3, ['b', 'c']] = np.nan # Add a few NA values
people

               a         b         c         d         e
Joe    -0.152277 -1.188596  1.012418  1.149251 -0.837444
Steve   1.179209  0.889235  1.153563 -0.764012 -1.500916
Wes    -1.370595       NaN       NaN  1.419895 -0.879062
Jim     2.870915 -0.844672 -1.916529  0.347109  0.548973
Travis -0.582203  0.388305  0.296830  1.230047  0.021162

In [23]:
mapping = {'a': 'red', 'b': 'red', 'c': 'blue',
           'd': 'blue', 'e': 'red', 'f' : 'orange'}
by_column = people.groupby(mapping, axis=1)
by_column.sum()

            blue       red
Joe     2.161669 -2.178316
Steve   0.389550  0.567527
Wes     1.419895 -2.249657
Jim    -1.569420  2.575215
Travis  1.526878 -0.172737

In [ ]:
people.groupby(len).sum()

In [ ]:
columns = pd.MultiIndex.from_arrays([['US', 'US', 'US', 'JP', 'JP'],
[1, 3, 5, 1, 3]], names=['cty', 'tenor'])
hier_df = DataFrame(np.random.randn(4, 5), columns=columns)
hier_df

In [ ]:
hier_df.groupby(level='cty', axis=1).count()

## Data Aggregation

In [24]:
df

      data1     data2 key1 key2
0 -0.696114  0.048884    a  one
1  0.009188  1.901091    a  two
2 -0.948833  0.415823    b  one
3 -0.517331 -1.424932    b  two
4 -0.017363  0.463498    a  one

In [25]:
grouped = df.groupby('key1')
grouped['data1'].quantile(0.9)

key1
a    0.003878
b   -0.560481
Name: data1, dtype: float64

In [26]:
def peak_to_peak(arr):
    return arr.max() - arr.min()
grouped.agg(peak_to_peak)

         data1     data2
key1
a     0.705302  1.852207
b     0.431502  1.840755

In [ ]:
tips = pd.read_csv('ch08/tips.csv')   ###### Change the Path
tips['tip_pct'] = tips['tip'] / tips['total_bill']
tips.head()

## Column-wise and Multiple Function Application

In [ ]:
grouped = tips.groupby(['sex', 'smoker'])
grouped_pct = grouped['tip_pct']
grouped_pct.agg('mean')

In [ ]:
grouped_pct.agg(['mean','std', peak_to_peak])

In [ ]:
grouped_pct.agg([('foo', 'mean'), ('bar', np.std)])

In [ ]:
functions = ['count', 'mean', 'max']
result = grouped['tip_pct', 'total_bill'].agg(functions)
result

In [ ]:
ftuples = [('Durchschnitt', 'mean'), ('Abweichung', np.var)]
grouped['tip_pct', 'total_bill'].agg(ftuples)